textarea {
    width: 75vw;
    height: 20vh;
    border-radius: 10px;
    display: block;
}
.navbar-brand {
    display: flex;
    flex-wrap: wrap;
}
.form-check {
    padding-right: 4px;
}
.credits {
	background: #b9d9eb;
	color: #000;
	text-align: center;
	padding: 10px;
}

.credits a {
	color: #444;
    text-decoration: none;
    
}
.credits a:hover {
    color: rgb(0, 26, 255);  
}

.custom-top {
    text-align: center !important;
    width: 100%;
}
